body{
	background-image: linear-gradient(18deg,rgba(4,189,228,1),rgba(2,83,185,1));
	/* width: 100vw;
	height: 100vh;
	background-color: linear-gradient(18deg,rgba(4,189,228,1),rgba(2,83,185,1)); */
}
.main-container{
	height: 100vh;
			display: flex;
			align-items: center;
			flex-direction: column;
}
h1{
	color: white;
}

.input-con{
	background-color: white;
	border-radius: 8px;
}
.input{
	outline: none;
}
.input,.btn{
	padding: 8px 15px;
	border-radius: 8px;
	border: none;
	font-size: 1rem;
	background-color: white;
}
.input{
	width: 200px;
}
.btn:hover{
   color: white;
	 background-color: black;
	 cursor: pointer;
}

/* other container */
.item {
  display: flex;
  align-items: center;
  margin: 5px 0;
  background-color: white;
  border-radius: 8px;
  min-width: 200px;
}

.text {
  flex: 1;
  padding: 8px;
}

button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.completed {
  opacity: 0.6;
  text-decoration: line-through;
	/* text-decoration: underline; */
}